apiVersion: v1
kind: Service
metadata:
  name: userapi-service
  namespace: userapi
  labels:
    app: userapi
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
    protocol: TCP
    name: http
  selector:
    app: userapi
